
<div class="container">
  <h2> Stupid Coaching! </h2>
  <p> Pergunte ao seu técnico alguma coisa! </p>
  <form action="/answer" data-turbo="false">
  <div class="d-flex">
    <div class="col-2">
      <input type="text" class="form-control" name="question">
    </div>
    <div class="col-2">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
  </form>
</div>